#container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #0FBFD9;
    color: white;
}




.sidebar {
    display: none;
}

footer {
    align-content: center;
    background-color: aqua;
    height: 30px;

}

.nav600pxPlus {

    display: none;

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #portrait {
        margin-left: 15px;
        padding-right: 15px;

    }

    footer {
        align-content: center;
        background-color: aqua;
        height: 50px;
    }

    .topnav {
        display: none;
    }

    .sidebar {
        display: block;
    }


    .nav600pxPlus {

        display: block;
        background-color: #0FBFD9;
        padding: 20px 0 20px 20px;

    }


    #mainAndSideNav {

        min-height: 90vh;
        display: flex;
        height: fit-content;
        flex-wrap: nowrap;
    }


    main {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-content: center;

    }



    /* Style the sidebar - fixed full height */
    .sidebar {
        float: left;
        width: 18%;
        min-width: fit-content;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
    }

    /* Style sidebar links */
    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #f1f1f1;
    }

    /* Style the main content */


    #aboutSec {
        height: 20%;


    }


    #portfolio {
        height: 20%;

    }

    #contact {

        height: 20%;

    }

    #topImage {

        margin: 20px;

    }

    #mainImage {

        height: 20%;

    }

    .spacing {
        background-color: grey;
        height: 5%;

    }












}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    h1 {
        text-align: center;
    }
}





/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    h1 {
        text-align: center;
    }
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



    h1 {
        text-align: center;
    }
}