*{
    font-family: Georgia, Garamond, sans-serif;
}


h1,h2{
    font-family: 'Century Gothic', Futura, Verdana, sans-serif;  
    text-decoration: underline;
}

h1{
    background-color: rgb(101, 132, 167);
    text-align: center;    
    font-size: 28pt;  
    font-weight: bold;  

}

h2{
    font: 20px;
    background-color: aquamarine;
    font-weight: bold;
    padding: 10px;     
}

h3{

    margin: 20px;
}

p{

    font-size: 14pt;

}

img{
    margin: 20px;

}

#wrapper{
    height: fit-content;
}

header{    

    background-color: #14415a;
    font: 2.5em sans-serif;    
}